@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Druk Wide';
  src: url('./fonts/DrukWideBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
